.product-box {
	padding-right: 0px;
	border-top: 0.5px solid #dedede;
	padding: 10px 15px;
	margin-top: 15px;
	padding-bottom: 30px;

}

.product-title {
	font-size: 16px;
 font-weight: bold;
}

.product-subtitle {
	font-size: 14px;
}

.product-amount {
	font-size: 14px;
	font-weight: bold;
}

.product-sale-price {
	font-size: 13px;
}

.product-reference-price {
	font-size: 13px;
	text-decoration:line-through 
}

.product-quantity {
	font-size: 14px;
}